$background:#252526;
$background-container:#1e1e1e;
$container-border-color: #000000;
$button-border-color: #000000;
$button-background: #b099f1;
$button-control-background: #8d6e6e;
$button-color: #ffffff;
$button-text-color: #ce9164;

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
}

.container{
  width: 900px;
  margin: auto;
  background: $background-container;
  border: 2px solid $container-border-color; 
}

.textarea {
  display: flex;
  justify-content: center;
  padding-top: 10px;

  .textarea__textarea{
    resize: none;
    width: 850px;
    place-content: "Hacking time...";
 }
}

.keyboard {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .keyboard-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    .keyboard-button{
      background: $button-background;
      color: $button-color;
      min-width: 40px;
      padding: 10px 22px;
      border: 2px solid $button-border-color;
      border-radius: 4px;
 
    }
    .keyboard-button:hover {
      background-color: #5b686e;
      transition: 0.3s;
    }

    .keyboard-button:active {
      background-color: #364049;
      transition: 0.3s;
      box-shadow: inset 0px 0px 5px 0px #898C8B;
      border-radius: 20px;
    }

    .keyboard-button_button-type_control {
      background: $button-control-background;
    }

    .keyboard-button__button-space {
      padding:10px 150px;
    }

    }

  }

.hidden {
  display: none;
}
